<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <body>
        <header>
            <h1><%= title %></h1>
            <%- include('partials/navbar.ejs') %>
        </header>

        <% if(typeof message !== 'undefined') { %>

            <%= message %>

        <% }%>

        <form action="/edit/<%= user._id%>" method="POST">
            <div>
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" placeholder="Digite seu nome" value="<%= user.name %>">
            </div>
            <div>
                <label for="age">Idade</label>
                <input type="text" name="age" id="age" placeholder="Digite sua idade" value="<%= user.age %>">
            </div>

            <div>
                <label for="email">E-mail</label>
                <input type="text" name="email" id="email" placeholder="Digite seu E-mail" value="<%= user.email %>">
            </div>

            <div>
                <button type="submit">Editar</button>
            </div>

        </form>

        <%- include('partials/foot') %>
    </body>
</html>